html{
    height: 100%;
}

body{
    position: relative;
    overflow-x:hidden;
    box-sizing: border-box;
    background-color: rgb(250, 203, 203);
    min-height: 100%;
}

.sizes{
    text-align: left;
    height: 60px;
    color: rgb(250, 203, 203);
    background-color: rgb(218, 146, 146);

}
.cMargin{
    padding-right: 20px;
    text-align: right;
}
#logo{
    margin-right: 1%;
    width: 50px;
    height: 50px;
    float: left;
}

.chrono{
    display: inline;
}

.centers{
    margin-top: 5px;
    margin-bottom: 5px;
}

.targetas{
    text-align: center;
    background-color: rgb(250, 203, 203);
    color: rgb(250, 203, 203);
    margin: 0px;
    font-weight: bold;
    font-size: 400%;
    height: 120px;
    user-select: none;
    transition-property: color;
    transition-duration: 300ms;
    border: 10px;
    border-style: solid;
    border-color: rgb(218, 146, 146);
    cursor: pointer;
    z-index: 2;
}

@media (max-width: 575px){
    .sizes{
        text-align: center;
        height: 80px;
    }
}

@media (max-width:420px){
    .targetas{
        text-align: left;
        font-size: 300%;
        height: 80px;
        border: 8px;
        border-style: solid;
        border-color: rgb(218, 146, 146);
    }
}

@media (max-width:385px){
    .targetas{
        text-align: left;
        font-size:200%;
        height: 80px;
        border: 8px;
        border-style: solid;
        border-color: rgb(218, 146, 146);
    }
}

.canva{
    position:fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,0);
    visibility: hidden;
    text-align: center;
    z-index: 3;
}

.foots{
    background-color: rgb(218, 146, 146);
    text-align: center;
    font-size: 80%;
    font-weight: bold;
    color: rgb(250, 203, 203);
    padding-top: 10px;
    height: 8%;
    width: 100%;
    position:absolute;
    bottom: 0%;

}
a{
    text-decoration: none;
    color: rgb(228, 63, 96);
}
a:hover{
    color: rgb(250, 203, 203);
}

.backGameOver{
    position:fixed;
    visibility: hidden;
    width: 100%;
    height: 100%;
    background-color: rgba(220, 20, 60, 0.2);
    backdrop-filter: blur(5px);
    z-index:3;
}
#gameOver{
    position: fixed;
    background-color: crimson;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    border-radius: 30px;
    border-style: solid;
    border-color: rgb(255, 214, 214);
    box-shadow: 5px 5px 5px rgb(53, 53, 53), -5px -5px 5px rgb(53, 53, 53);
    color: white;
    text-align: center;
}
#textGameOver{
    font-size: 400%;
    font-weight: bold;
}
#timeOut{
    font-size: 200%;
    font-weight: bold;
    color: white;
    transition-property: color;
    transition-duration: 100ms;
}
#textFails{
    font-size: 120%;
    font-style: italic;
}
#btnPlay{
    position: absolute;
    width: 20%;
    left: 40%;
    bottom: 1%;
    margin-top: 8%;
    background-color: rgb(250, 203, 203);
    color:rgb(192, 117, 117);
    font-weight: bold;
    border-radius: 10px;
    
}

